{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ajouter un produit</h1>

    {{ form_start(form) }}
    {{ form_errors(form) }}
        {{ form_widget(form) }}
         {{ form_row(form.categories) }}

    <input class="btn btn-success" type="submit" value="Valider" />
    {{ form_rest(form) }}
    {{ form_end(form) }}

        <a href="{{ path('product_index') }}" class="btn btn-primary"> <i class="fa fa-arrow-left"></i> Retour a la liste</a>

{% endblock %}
