{% extends 'base.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <small>Ref : {{ product.id }}</small>
        </div>
        <div class="card-body">
            <p class="card-title">Nom : {{ product.name | title }}</p>
            <p class="card-text">Prix : {{ product.price }} €</p>
            <p class="card-text">Disponibilité : {% if product.isAvailable %}disponible{% else %}indisponible{% endif %}</p>
            <p class="card-text">Categorie : {{ product.categories.name }}</p>


    <a href="{{ path('product_index') }}" class="btn btn-info"><i class="fa fa-arrow-left" aria-hidden="true"></i>  Retour</a>

    <a href="{{ path('product_edit', { 'id': product.id }) }}" class="btn btn-primary"><i class="fa fa-edit"></i> Modifier</a>

            {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-danger" value="supprimer">
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}
