{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des boxes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Theme</th>
                <th>date de creation</th>
                <th>Statut</th>
                <th>produit</th>
                <th><i class="fa fa-eye"></i></th>
                <th><i class="fa fa-edit"></i></th>
                <th><i class="fa fa-trash"></i></th>
            </tr>
        </thead>
        <tbody>
        {% for box in boxes %}
            <tr>
                <td><a href="{{ path('box_show', { 'id': box.id }) }}">{{ box.id }}</a></td>
                <td>{{ box.name }}</td>
                <td>{{ box.theme }}</td>
                <td>{% if box.createdAt %}{{ box.createdAt|date('Y-m-d') }}{% endif %}</td>
                <td>{% if box.status %}disponible{% else %}indisponible{% endif %}</td>
                <td>{{ box.products | length }}</td>
                <td><a href="{{ path('box_show', { 'id': box.id }) }}"><i class="fa fa-eye"></i></a></td>
                <td><a href="{{ path('box_edit', { 'id': box.id }) }}"><i class="fa fa-edit"></i></a></td>
                <td><a href="{{ path('box_delete', { 'id': box.id }) }}"><i class="fa fa-trash"></i></a></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a href="{{ path('box_new') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Creer une boxe</a>

{% endblock %}
