{% extends 'base.html.twig' %}

{% block body %}


    <div class="card" style="width: 20rem;">
        <div class="card-header">
            <h4>Box ref : {{ box.id }}</h4>
        </div>
        <div class="card-body">
            <h5 class="card-title">Nom : {{ box.name }}</h5>
            <p class="card-text">Theme : {{ box.theme }}</p>
            <p class="card-text">Cree le : {% if box.createdAt %}{{ box.createdAt|date('Y-m-d') }}{% endif %}</p>
            <p class="card-text">Statut : {% if box.status %}disponible{% else %}indisponible{% endif %}</p>
            <p class="card-text">Prix : {{ box.price }}</p>
            <a href="{{ path('box_index') }}" class="card-link"><i class="fa fa-arrow-left" aria-hidden="true"></i>  retour</a>
            <a href="{{ path('box_edit', { 'id': box.id }) }}" class="card-link"><i class="fa fa-edit"></i></a>
            <ul>
                {% for product in box.products %}
                    <li>{{ product.name }}</li>
                {% endfor %}
            </ul>
            {{ form_start(delete_form) }}
            <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-times" aria-hidden="true"></i> Supprimer</button>
            {{ form_end(delete_form) }}
            
        </div>
    </div>


{% endblock %}
